@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic");

body
    font-family: 'Roboto', sans-serif
    font-size: 15px
    background-color: #f0f0f0
    padding: 15px 0

.container
    width: 1060px
    margin: 0 auto
    background: #fff
    padding: 30px 0

.content 
    width: 680px
    margin: 0 auto

h1
    font-weight: 500
    font-size: 36px
    line-height: 1.3em

.article
    font-size: 18px
    width: 680px
    margin: 0 auto
    margin-bottom 40px
    line-height: 28px
    p
        margin: 15px 0
    &__date
        color: #818181
        font-size: 15px

.comments
    &__item
        position relative;
        margin-bottom 25px
        &__content
            flex: 1 1 100%
        &__name
            font-weight: bold
        &__avatar
           border-radius: 5px
           margin-right 15px
           overflow hidden
           font-size: 0
           height: 64px
           flex: 0 0 64px
        &__top-bar
            display: flex
            margin-bottom 7px
        &__date
            color: #818181

        &__vote
            &__action
                padding: 0 7px
                cursor pointer
                line-height: 20px
                user-select: none
            &__rating
                padding: 0 12px
                color: #07a23b
                font-size: 14px
                line-height: 20px
                font-weight: bold
                background-color: #eefbf3
                &.bad
                    background-color: #fff1f1
                    color: #cd192e
        &__children
            margin-top 25px
            &__show
                cursor pointer
                display block
                text-align: right 
                font-size: 12px;
                padding: 2px 0;
                color: #818181;
                left: 0;
                top: 68px;
                position: absolute;
                &:hover
                    color: #105990;
                    // background: #eeeeee;
        &__answer
            color: #818181;
            font-size: 14px;
            &:hover
                color: #105990;
                    
.button
    background-color: #4da0da
    cursor: pointer
    display: inline-flex
    align-items: center
    white-space: nowrap
    justify-content: center
    height: 34px
    line-height: 34px
    font-size: 15px
    padding: 0 20px
    border-radius: 4px
    border: none
    color: #fff

.form
    margin-top 20px
    border: 1px solid #dedede
    border-radius: 3px
    padding: 20px 20px
    &__group
        margin-bottom: 15px
        display flex
        &__col
            flex: 0 0 180px
        &__header
            font-weight: bold
            font-size: 23px
            margin-bottom 15px
    &__input
        width: 100%
        padding: 0 15px
        line-height: 35px
        border: 1px solid #dedede
        border-radius: 2px
        &--textarea
            padding: 10px 15px
            line-height: normal

@import 'helpers'
@import 'transitions'